            .titulo_secundario{
                background-color: #217400;
                color: white;
            }

            #titulo_principal{
                background-color: #217400;
                color: white;
            }

            #layout {
                display: flex;
            }

            .rodape{
                text-align: center  ;
            }